header {
    height: 80px;
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0 3rem;
  }